.result-container {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.result {
  font-weight: bold;

  &.correct {
    color: green;
  }

  &.incorrect {
    color: red;
  }
}

.result-content {
  padding: 20px;
  text-align: center;
  width: 500px;

  h2 {
    color: #333;
  }

  .result-button {
    margin-top: 4rem;
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    border: 1px solid black;

    &:hover {
      color: black;
      background-color: white;
      border: 1px solid black;
    }
  }
}

.result-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
